 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 .season-display{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     flex-direction: column;
 }
 .icone-left{
     position: absolute;
     top:10px;
     left: 10px;
 }
 .icone-right{
     position: absolute;
     bottom:10px;
     right: 10px;
 }
 .winter{
     background: rgb(244, 250, 252);
    }
    .winter i{
        color: blue;
    }

 .summer{
        background: rgb(250, 141, 16);
 }
 .summer i{
     color:red;
 }